@import "tailwindcss";

html {
  --highlite: lime;
  --pink: #f4eaff;
}

body {
  background-color: var(--pink);
  font-family: space, Inter, sans-serif;
  font-feature-settings: "liga", "ss03", "ss02";

  width: 100%;
  height: 100%;
  text-rendering: geometricPrecision;
  overflow-x: hidden;
  margin: auto;
}

::selection {
  @apply text-gray-300 bg-black;
}

@font-face {
  font-family: space;
  src: url("/SpaceGrotesk-Regular.woff2");
  font-weight: normal;
}

@font-face {
  font-family: space;
  src: url("/SpaceGrotesk-Medium.woff2");
  font-weight: bold;
}

@font-face {
  font-family: space;
  src: url("/SpaceGrotesk-Medium.woff2");
  font-weight: bold;
}
