@import "tailwindcss";

@theme {
  --color-link: #ebddf4;
  --color-highlite: lime;
  --color-pink: #f4eaff;
}

@utility link {
  @apply bg-link hover:bg-highlite px-1 text-black;
}

body {
  @apply bg-pink;
  font-family: space, Inter, sans-serif;
  font-feature-settings: "liga", "ss03", "ss02";

  width: 100%;
  height: 100%;
  text-rendering: geometricPrecision;
  overflow-x: hidden;
  margin: auto;
}

::selection {
  @apply text-gray-300 bg-black;
}

@font-face {
  font-family: space;
  src: url("/SpaceGrotesk-Regular.woff2");
  font-weight: normal;
}

@font-face {
  font-family: space;
  src: url("/SpaceGrotesk-Medium.woff2");
  font-weight: bold;
}

@font-face {
  font-family: space;
  src: url("/SpaceGrotesk-Medium.woff2");
  font-weight: bold;
}
